body {
  margin: 0;
  height: 100vh;
  background: #ffd6e8;
  font-family: Georgia, serif;
}

.page {
  display: none;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page.active {
  display: flex;
}

button {
  margin-top: 30px;
  padding: 12px 30px;
  font-size: 18px;
  background: #ff5c8a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #ff3d73;
}

/* PAGE 1 */

.envelope {
  font-size: 160px;
  margin-bottom: 20px;
}

/* PAGE 2 */

.letter {
  width: 80%;
  max-width: 900px;
  height: 70%;
  background: white;
  padding: 40px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.2);
}

textarea {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  outline: none;
  font-size: 18px;
  font-family: Georgia, serif;
}

/* PAGE 3 */

.question {
  color: #ff2f6d;
  margin-bottom: 20px;
}

.center-image {
  width: 220px;
  margin-bottom: 25px;
}

.button-area {
  position: relative;
  width: 300px;
  height: 160px;
}

#noBtn {
  position: absolute;
  right: 0;
}
